p{
    padding: 0%;
}

.inputText{
    width: 100%;
    height: 20px;
}

.inputMessage{
    width: 100%;
    text-align: left;
    height: 200px;
    resize: vertical;
}

.inputContainer{
    overflow: hidden;
    padding: 20px;
    margin-top: 0%;
}

.button{
    background-color: #4aaaa5;
    border: none;
    text-align: center;
    text-decoration: none;
    color: white;
    margin-top: 10px;
    padding: 8px 26px;
    font-size: 16px;
}

.button:active{
    background-color:grey;

}