.imgBox{
    width: 250px;
    height: 200px;
    margin: 35px;
    background-color: #dddddd;
    display: block;
    float: left;
    border-radius: 5%;
    overflow: hidden;
    background-size: 250px 200px;
    background-repeat: no-repeat;

}

.text-Block{
    background-color: #4aaaa5;
    color: white;
    font-size: 1.5em;
    font-family: Georgia, 'Times New Roman', Times, serif;
    width: 250px;
    height: 70px;
    text-align: center;
    margin-top: 120px;
}

.clickLink{
    padding-top: 211px;
    padding-right: 200px;
    padding-left: 50px;
    border-radius: 5%;
}

.text-Block:hover{
    background-color: #777777;
}